
select{
    width:30%;
    margin-bottom:20px;
    border-radius: 10px;
    padding:10px;
}
label{
    display:block;
    margin-bottom:10px;
}
button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
    
}
.dlt{
    margin-left: 10px;
}